@charset "UTF-8";
/* google font */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Noto+Sans+KR:wght@300;400;500;700&display=swap');

/* handel gothic cdn */
@import url('https://fonts.cdnfonts.com/css/handelgothic-tl');
@import url(reset.css);


/* font-family: 'Dancing Script', cursive;
font-family: 'Noto Sans KR', sans-serif;
font-family: 'HandelGothic TL', sans-serif;
*/
body {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
    color: #333;
}

.en {
    font-family: 'HandelGothic TL', sans-serif;
}

.en_s {
    font-family: 'Dancing Script', cursive;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

/* inner-넓이에 대한 가이드 */
.inner {
    width: 1320px;
    margin: 0 auto;
    overflow: hidden;
}

.inner .box {
    float: left;
    width: 50%;
}

/* menuOpen */
.menuOpen {}

.menuOpen .open {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    /* 버튼은 태어날 때부터 배경, 선을 갖고 태어남 */
    border: none;
    background: none;
    padding: 30px 22px;
    /* 나중에 생길 ::before(바로 아래) 때문에 padding을 사용해 공간을 만들어 줌 */
    z-index: 100;
}

.menuOpen .open::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #f5f5f5;
    z-index: -1;
    /* z-index는 형제끼리 따짐 */
    right: -100%;
    transition: 0.3s;
    /* 포지션 있는게 위로 올라감(개발자에서 확인) */
}

.menuOpen .open:hover::before {
    right: 0;
}

.menuOpen .open img {}

.menuOpen .menuWrap {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: #eee;
}

.menuOpen .menuWrap .tit {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 25%;
    font-size: 60px;
    color: #333;
}

.menuOpen .menuWrap .tit li {
    margin-bottom: 20px;
}

.menuOpen .menuWrap .tit li a {
    position: relative;
    transition: 0.3s;
    display: inline-block;
    /* transform은 인라인요소가 아니면 적용 안됨*/
}

.menuOpen .menuWrap .tit li a:hover {
    transform: translateX(30px);
    color: #333;
}

.menuOpen .menuWrap .tit li a::after {
    content: "";
    position: absolute;
    left: 0;
    /* 왼쪽으로 길어질 예정이므로 왼쪽에 기준을 줌 */
    width: 0%;
    bottom: 0;
    height: 2px;
    background-color: #333;
    transition: 0.3s;
}

.menuOpen .menuWrap .tit li a:hover::after {
    /* a에다가 마우스를 올렸을 때 after는 */
    width: 100%;
}

.menuOpen .menuWrap .tit li a span {}

.menuOpen .menuWrap .tit li a span b {}

.menuOpen .menuWrap a.close {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 30px;
}

.menuOpen .menuWrap a.close.en {
    top: 50px;
    right: 50px;
    left: auto;
    font-size: 25px;
    border-bottom: 1px solid #888;
    color: #888;
}

.menuOpen .menuWrap a img {}

/* menuWrap */
.menuOpen .menuWrap {
    transform: skewY(-40deg);
    width: 0;
    opacity: 0;
}

.menuOpen .menuWrap.on {
    transform: skewY(0deg);
    width: 100%;
    opacity: 1;
    transition: 0.5s;
}

/* 원그리기 */
.menuOpen .menuWrap.on:before {
    content: "";
    width: 700px;
    height: 700px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    left: 30%;
    animation: circle 1.8s;
}

@keyframes circle {
    0% {
        opacity: 0;
    }

    40% {
        opacity: 0;
        transform: translateY(-50%) scale(0.5);
    }

    100% {
        opacity: 1;
        transform: translateY(-50%) scale(1);
    }
}


/* header */
header {}

.innerheader {
    max-width: 1720px;
    margin: 0 auto;
    height: 110px;
    line-height: 110px;
}

.innerheader .logo {
    float: left;
}

.innerheader .logo a {
    display: block;
    font-weight: bold;
    font-size: 16px;
}

.innerheader .mainmenu {
    float: right;
    position: relative;
}

.innerheader .mainmenu .bar {
    position: absolute;
    left: 0;
    bottom: 40px;
    width: 0;
    height: 3px;
    background-color: #e7e7e7;
    transition: 0.2s;
}

.innerheader .mainmenu .gnb {
    float: left;
}

.innerheader .mainmenu .gnb li {
    float: left;
    margin: 0 20px;
}

.innerheader .mainmenu .gnb li a {
    display: block;
    color: #555;
}




/* --------- visual ----------- */
.visual {
    max-width: 1720px;
    margin: 0 auto;
}

.visual .mainImg {
    float: left;
    width: 50%;
}

.visual .mainImg .img img {
    width: 90%;
}

.visual .mainText {
    float: left;
    width: 50%;
    padding-top: 180px;
}

.visual .mainText .tit {
    font-size: 72px;
}

.visual .mainText .tit span {}

.visual .mainText .tit span.gray {
    color: #ccc;
}

.visual .mainText .txt {
    padding: 50px 0 0 70px;
}

/* --------- jurnal ----------- */
.jurnal {
    padding: 190px 0 120px;
    position: relative;
}

.jurnal .scroll {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    font-size: 10px;
    /* 10px 이하는 적용이 안됨(0은 됨), 그래도 작은 값을 주고 싶다면 em, rem, vw --> % 활용 */
    letter-spacing: 5px;
    text-transform: uppercase;
    padding-top: 90px;
    writing-mode: vertical-rl;
    /* writing-mode: 텍스트가 표시되는 방향 지정, vertical-rl: 수직 방향에서 오른쪽에서 왼쪽으로 텍스트가 배치 */
}

.jurnal .scroll::before {
    content: "";
    position: absolute;
    height: 75px;
    width: 1px;
    background-color: #333;
    top: 0;
    left: 4px;

}

.jurnal .box img {
    padding-top: 100px;
}

.jurnal .box .tit {
    margin-bottom: 40px;
}

.jurnal .box ul {}

.jurnal .box ul li {
    margin-bottom: 30px;
    display: flex;
}

.jurnal .box ul li h3 {
    width: 22%;
}

.jurnal .box ul li p {
    width: 78%;
    color: #888;
    line-height: 1.4;
    /* 기본값 1.2~1.3이라서 원래 가진 공간보다 조금 더 공간을 가짐 */
}

.jurnal .moreBtn {
    margin-left: 22%;
}

/* service */
.service {
    padding: 190px 0;
}

.service .box .img {
    margin-top: 60px;
}

.service .box .img img {
    width: 100%;
}

.service .img.animate__motion::after {
    background-color: #efd7e5;
}

.service .box.design {
    margin-top: -40%;
    width: 45%;
    border-top: 1px solid #c4e5ea;
    padding-top: 60px;
}

/* service영역이 화면에 보일시 body 전체 배경색 바꾸기 */
body {
    transition: 0.4s;
}

body.on {
    background-color: #efd7e5;
}


/* customer */
.customer {
    background: url(https://kyliecosmetics.com/cdn/shop/files/v1_kylie_cosmic-2.0_Launch_HP_banner_desktop_1728x969_ratio.jpg?crop=center&height=480&v=1740153112&width=1440)no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    /* 배경 이미지가 뷰포트에 고정되어 스크롤에 따라 움직이지 않음 */
    text-align: center;
    padding: 160px 0;
}

.customer .tit {
    color: #fff;
    font-size: 40px;
    margin-bottom: 10px;
}

.customer .tit span {}

.customer .txt {
    color: #777;
}

/* team */
.team {
    position: relative;
    padding: 190px 0;
}

.team .box {
    margin-left: 10%;
    width: 45%;
    padding-top: 60px;
}

.team .box.left {
    text-align: right;
    padding-right: 80px;
    box-sizing: border-box;
}

.team .box .tit {
    margin-bottom: 40px;
}

.team .box .txt {
    margin: 30px 0;
}

.team .box img {
    margin-bottom: 100px;
}

/* footer*/
footer {
    width: 1320px;
    margin: 0 auto;
}

footer .top {}

footer .top .tit {
    color: #fff;
    font-size: 32px;
    text-align: center;
    margin-bottom: 40px;
}

footer .bottom {
    border-top: 1px solid #e6e6e6;
    padding: 40px 0 100px;
}

footer ul {
    display: flex;
}

footer ul li {
    width: 23%;
    color: #333;
    font-size: 12px;
    line-height: 2;
    /* 200% */
}

footer ul li:first-child {
    width: 31%;
    font-size: 28px;
    color: #fff;
}

footer ul li b {
    color: #fff;
}

/* ----------타이틀, 텍스트---------- */
.tit {
    /* 힘이 세지게 .tit 세번 복사해서 삼단계로 만들어줌 */
    font-size: 50px;
    line-height: 1.1;
    font-weight: normal;
    /* 중간 */
}

.tit span {
    display: block;
}

.tit span b {
    font-weight: normal;
    /* b는 여기서 단지 싸기 위한 인라인 요소로 사용했고 볼드로 태어나기 때문에 normal 써줌 */
}

.tit .en_s {
    font-size: 22px;
    font-weight: normal;
}

.txt p {
    color: #888;
    line-height: 1.6;
    margin-bottom: 10px;
}

.txt p b {
    font-weight: normal;
}

.moreBtn {
    position: relative;
    display: inline-block;
    margin: 20px;
    color: #333;
    transform: skewX(-15deg) translateX(5px);
    /* skewX:기울임체 만들기 */
    transition: 0.2s;
    padding-left: 45px;
}

.moreBtn:hover {
    transform: skewX(0deg) translateX(0px);
    font-weight: bold;
}

.moreBtn::before {
    content: "";
    width: 42px;
    height: 1px;
    background-color: #333;
    position: absolute;
    left: 0;
    top: 53%;
}

/* ----------텍스트 애니----------------- */
.tit.animate__motion span {
    overflow: hidden;
}

.tit.animate__motion span b {
    display: block;
    animation: textAni 1.3s;
}

/* transform은 인라인 적용되지 않기 때문에 블록 요소로 바꿈, 그리고 transform의 중심은 가운데임 */

@keyframes textAni {
    0% {
        opacity: 0;
    }

    30% {
        opacity: 1;
        transform: translate(0, 40px) skewY(8deg);
        transform-origin: top left;
    }

    100% {
        opacity: 1;
        transform: none;
    }
}


/* --------이미지 애니------- */
.img.animate__motion {
    position: relative;
    animation: imgAni 1s;
}

@keyframes imgAni {
    0% {
        transform: translateY(50px);
    }

    100% {
        transform: translateY(0);
    }
}

.img.animate__motion::after {
    content: "";
    position: absolute;
    top: 0;
    /* 기준이 탑 */
    left: 0;
    width: 100%;
    height: 0;
    background-color: #fff;
    animation: mask 1.2s;
}

.team .img.animate__motion::after {
    display: none;
}

@keyframes mask {
    0% {
        height: 90%;
    }

    100% {
        height: 0;
    }
}

/* --------svg ani------- */
.jurnal {
    position: relative;
}

.jurnal .circleBox {
    width: 700px;
    position: absolute;
    right: 13%;
    top: 100px;
    z-index: -1;
    /* z-index: -1 -- 항상 적용되는건 아님 */
}

.team .circleBox {
    width: 700px;
    position: absolute;
    left: 20%;
    top: -50px;
    z-index: -1;
}

.circleBox .svgAni path {
    stroke-dasharray: 2043px;
    /* main.js, //path의 총길이(px단위)를 알아내기 -- 개발자에서 확인한 높이 값 적어주기 */
    stroke-dashoffset: 0;
}

.circleBox.animate__motion .svgAni path {
    animation: dash 1.5s;
}

@keyframes dash {
    0% {
        stroke-dashoffset: 2043px;
    }

    100% {
        stroke-dashoffset: 0px;
    }
}

/* stroke-dashoffset--> 선의 테두리에 대한 특정 효과 지정
//SVG(Scalable Vector Graphics)에서 사용되는 속성
//이 속성은 선의 시작 지점부터 그려지는 지점까지의 거리를 나타냄
//(선의 시작 지점에서 점선이 얼마나 이동할지) 
//양수 값은 선을 따라 이동하고, 음수 값은 선을 따라 이동하지 않음.
//일반적으로 stroke-dashoffset은 stroke-dasharray와 함께 사용됨

//stroke-dasharray--> 선에 대한 점선의 길이
//예를 들어, stroke-dasharray="5, 2"는 
//5 픽셀의 실선과 2 픽셀의 공백으로 이루어진 패턴을 생성


여러 값을 가지는 stroke-dasharray와 stroke-dashoffset를 조합하면 
다양한 선의 효과를 만들 수 있습니다 */

/* 미디어쿼리 */
/* 점수가 낮아지기 때문에 개발자에(반응형은 거의 개발자에서 만들어짐)
   직접 가서 확인하고 클릭 + shift -- 복사해서 가져오기  */
/* ------- pc(1401~1720) ----- */
@media (max-width:1720px) {
    .innerheader {
        max-width: 100%;
        padding: 0 30px;
        box-sizing: border-box;
    }

    .visual .mainText {
        padding-top: 150px;
    }

    .visual .mainText .tit {
        font-size: 62px;
    }
}

/* ------- 노트북, 태블릿(1025~1400) ----- */
@media (max-width:1400px) {

    .visual .mainImg .img img {
        width: 100%;
    }

    .visual .mainText {
        padding-top: 100px;
    }

    .visual .mainText .tit {
        font-size: 46px;
    }

    .visual .mainText .txt {
        padding: 20px 0 0 0px;
    }

    .inner {
        width: 100%;
        padding: 0 30px;
        box-sizing: border-box;
    }

    .jurnal {
        overflow: hidden;
    }

    .jurnal .scroll {
        display: none;
    }

    .jurnal .circleBox {
        right: -10%;
        top: 0;
    }

    .jurnal .box img {
        width: 90%;
    }

    .service {
        padding: 80px 0;
    }

    .service .txt {
        margin-top: 20px;
    }

    .service .box .img img {
        width: 70%;
        margin: 50px auto 0;
        display: block;
    }

    footer {
        width: 100%;
        box-sizing: border-box;
        padding: 0 30px;
    }
}

/* 1024px전에 깨지는 것은 1400px에 가서 추가적인 스타일을 적용하여 해결*/

/* ------- 태블릿(767~1024) ----- */
@media (max-width:1024px) {
    .innerheader {
        height: 80px;
        line-height: 80px;
    }

    .innerheader .mainmenu {
        display: none;
    }

    .menuOpen .open {
        width: 70px;
        height: 80px;
        padding: 0;
        top: 0;
        transform: none;
    }

    .menuOpen .open::before {
        display: none;
    }

    .visual .mainImg {
        float: none;
        width: 100%;
    }

    .visual .mainText {
        float: none;
        width: 100%;
        padding-top: 50px;
        padding-left: 30px;
        box-sizing: border-box;
    }

    .inner .box {
        width: 100%;
        float: none;
    }

    .jurnal {
        padding: 80px 0;
    }

    .jurnal .box img {
        width: 100%;
    }

    .jurnal .circleBox {
        top: 200px;
    }

    .jurnal .box .img {
        width: 80%;
        margin: 0 auto 50px;
    }

    .service .box.design {
        margin-top: 50px;
        width: 100%;
    }

    .service .box.design .img img {
        margin: 50px 0 0;
    }

    .service .box.design .tit {
        font-size: 35px;
    }

    .customer {
        padding: 120px 0;
    }

    .customer .tit {
        font-size: 30px;
    }

    .team {
        padding: 80px 0;
    }

    .team .circleBox {
        left: 15%;
    }

    .team .box.left {
        padding-right: 0;
    }

    .team .box img {
        width: 100%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .team {
        overflow: hidden;
    }

    .team .box.left img {
        width: 70%;
    }

    .team .box:last-child {
        width: 90%;
        margin: 70px auto 0;
    }

    .team .box:last-child img {
        margin: 50px 0;
    }

    footer ul {
        flex-wrap: wrap;
    }

    footer ul li:first-child {
        width: 100%;
        margin-bottom: 30px;
    }

    footer ul li {
        width: 33.3333%;
    }
}

/* ------- 모바일(321~766) ----- */
/* 767px까지 가는데 문제가 생기면 1024px에 가서 추가적인 스타일을 적용하여 해결 */
@media (max-width:767px) {
    .innerheader {
        height: 60px;
        line-height: 60px;
    }

    .menuOpen .open {
        width: 52px;
        height: 60px;
    }

    .menuOpen .open img {
        height: 38px;
    }

    .menuOpen .menuWrap a.close.en {
        display: none;
    }

    .menuOpen .menuWrap a.close {
        position: absolute;
        top: 20px;
        transform: none;
        left: auto;
        right: 20px;
    }

    .visual {
        /* max-width: 1720px;
    margin: 0 auto; 실무에서는 냅둬도 됨*/
        padding: 0 20px;
    }

    .visual .mainText .tit {
        font-size: 30px;
    }

    .jurnal {
        padding: 50px 0;
    }

    .jurnal .circleBox {
        top: 10%;
        right: -6%;
    }

    .jurnal .box .img {
        width: 100%;
        margin-bottom: 20px;
    }

    .jurnal .box .tit {
        margin-bottom: 20px;
        font-size: 37px;
    }

    .jurnal .box ul li {
        margin-bottom: 20px;
    }

    .jurnal .box ul li {
        flex-wrap: wrap;
    }

    .jurnal .box ul li h3 {
        width: 100%;
        margin-bottom: 10px;
    }

    .jurnal .box ul li p {
        width: 100%;
        font-size: 12px;
    }

    .jurnal .moreBtn {
        margin-left: 0;
    }

    .service {
        padding: 50px 0;
    }

    .service .box .img img {
        width: 100%;
        margin-top: 30px;
    }

    .service .box.design {
        padding-top: 50px;
    }

    .service .box.design .tit {
        font-size: 25px;
    }

    .service .tit {
        font-size: 37px;
    }

    .customer {
        padding: 80px 20px;
    }

    .customer .tit {
        font-size: 25px;
    }

    .team .circleBox {
        left: 4%;
    }

    .team .box .txt {
        margin: 30px 0 10px;
    }

    .team .box img {
        margin-top: 50px;
    }

    .team .box:last-child img {
        margin-top: 30px;
    }

    .team .box .tit {
        font-size: 25px;
    }

    .team .tit .en_s {
        font-size: 16px;
    }

    footer {
        padding: 0 20px;
    }

    footer .top .tit {
        margin-bottom: 30px;
    }

    footer ul li:first-child {
        font-size: 20px;
    }

    footer ul li {
        width: 100%;
        margin-bottom: 12px;
    }
}

/* ------- 모바일(0~320) ----- */
@media (max-width:320px) {
    .visual .mainText {
        padding-left: 0;
    }

    .tit .en_s {
        font-size: 16px;
    }

    .visual .mainText .tit {
        font-size: 27px;
    }

    .moreBtn {
        font-size: 11px;
    }
}

/* 반응형에서 화면 크기가 어떻든 아래쪽에 스크롤이 나오면 망한거임  */
